.footer{
    background-color: #F7F7F7;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.contenedorGral{
    display: grid;
    grid-template-columns: 80% 20%; /* La primera columna ocupa el 60% y la segunda el 40% */
    }

.contenedor1{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas dentro de la primera casilla */
}

.contenedor2{
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna dentro de la segunda casilla */
    gap: 10px;
}
.socialGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .socialGrid li {
    display: flex;
    align-items: center;
  }
  
  .socialIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }