/* Estilos generales */
.header {
  background-color: #0F0B30;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* No permite que los elementos se muevan a otra línea */
}

.logoSection {
  display: flex;
  align-items: center;
}

.navTitle {
  margin-left: 8px;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap; /* Para mantenerlos en una línea */
  align-items: center;
}

.navLinks li {
  display: flex;
  align-items: center;
}

/* Dropdown para Categorías */
.dropdown {
  position: relative;
  margin-left: 15px;
}

.dropdownButton {
  background-color: #F78F02;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dropdownButton:hover {
  background-color: #3B1FAB;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #F889D6;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border-radius: 15px;
  width: 250px; /* Menú más amplio */
}

.dropdown:hover .dropdownContent {
  display: block;
}

.submenu {
  background-color: #F78F02;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
}

.submenu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: #3B1FAB;
}

/* Campo de búsqueda */
.navSearch {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  padding: 10px;
  width: 70%; /* Ocupa la mayor parte del espacio */
  border: 1px solid #ccc;
  border-radius: 15px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #F78F02;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.searchButton:hover {
  background-color: #3B1FAB;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Botones de inicio de sesión y registro */
.authButton {
  padding: 10px 20px;
  background-color: #F78F02;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
}

.authButton:hover {
  background-color: #3B1FAB;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navSearch {
    width: 100%;
    margin-bottom: 10px;
  }

  .searchInput {
    width: 80%;
  }

  .authButton {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .dropdownButton {
    padding: 5px 15px;
  }

  .searchInput {
    width: 100%;
  }

  .searchButton {
    padding: 5px 10px;
  }

  .navLinks {
    display: none; /* Ocultar la navegación en pantallas muy pequeñas */
  }
}
