.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  .profileDetails {
    margin-top: 20px;
    font-size: 18px;
    color: #371530;
  }
  
  .profileDetails p {
    margin: 10px 0;
    line-height: 1.5;
  }
  